

# HTID:11072793: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11072793:

Header add Access-Control-Allow-Origin "*"

#Regles de reecriture d'url

RewriteEngine On

RewriteRule ^spot/([0-9]+)$   /php/route.php?action=getSpot&spotId=$1 [L]
RewriteRule ^user/([0-9]+)$   /php/route.php?action=userProfile&userId=$1 [L]
RewriteRule ^myProfile  /php/route.php?action=myProfile

ErrorDocument 400 /html/404.html